<section>
  <h2>Sobre o A.U</h2>
  <p>
    O Acervo Universitário é o primeiro sebo online do Brasil e

    criado especificamente para estudantes universitários. 

    Para suprir a necessidade dos estudantes, o AC veio para tornar este encontro 

    entre os mesmo , mais ágil e rápido. Agora, fazendo parte dessa rede você 

    poderá encontrar toda a biblioteca de livros que foi postada de alunos da sua 

    própria universidade e poder negociar diretamente os livros de seu interesse.
  </p>
</section>