<section>
  <h2>Como funciona ?</h2>
  <p>
    O sistema é bem simples: Você cria o seu login ou acessa a sua

conta e poderá postar o livro que não o utiliza mais. Tire ou escolha uma foto 

referente ao título que irá publicar, coloque seu preço e as condições em que se 

encontra o livro e prencha o restante dos campos. Pronto! Agora todos os alunos 

que forem da mesma faculdade que você, terá livros de usuários do mesmo local 

na lista de “recomendado.” Logo, isso facilitará a encontrar as pessoas perto de 

você que tenha algum livro que possa ser de seu interesse.

OBS: O Acervo Universitário, não se envolve nas negociações feitas pelos 

usuários. Sendo assim, o AC, não se responsabiliza pelas negociações e formas de 

pagamento realizado no acordo entre usuários.
  </p>
</section>