<div class="search-bar span10 nav pull-left" data-ng-controller="BooksController" >
  <h4>Acervo Universitário</h4>

  <input ng-model="q.$" type="text" class="span6" placeholder="pesquise por titulo, categoria, universidade ou autor">
  <button class="btn-search" data-ng-click="mainSearch(q)"></button>
  <button class="btn-filter" data-ng-click="toggleCat()"></button>
   
    <div class="category-container span8" data-ng-hide="c" data-ng-animate="'animate'">
        <ul class="nav categories-wrapper">
          <li ><a href="#!/books/search?q=Ciências Exatas">Ciências Exatas</a></li>
          <li ><a href="#!/books/search?q=Direito">Direito</a></li>
          <li ><a href="#!/books/search?q=Informática">Informatica</a></li>
          <li ><a href="#!/books/search?q=Filosofia">Filosofia</a></li>
          <li ><a href="#!/books/search?q=Dicionários">Dicionários</a></li>
          <li ><a href="#!/books/search?q=Arte">Arte</a></li>
          <li ><a href="#!/books/search?q=Saúde">Saúde</a></li>
          <li ><a href="#!/books/search?q=Negócios">Negócios</a></li>
          <li ><a href="#!/books/search?q=Ciências Humanas">Ciências Humanas</a></li>
          <li ><a href="#!/books/search?q=Apostila">Apostila</a></li>
          <li ><a href="#!/books/search?q=Engenharia">Engenharia</a></li>
          <li ><a href="#!/books/search?q=Outros">Outros</a></li>
        </ul>
    </div>

</div>
<section data-ng-controller="BooksController" data-ng-init="loadSchools()">
	<h2>Livro</h2>
	<p class="alert alert-success" data-ng-show="message">{{ message }}</p>
	<form class="" enctype="multipart/form-data" data-ng-submit="create(image)">
			<div class="control-groups span3">
				<label class="control-label" for="title">Título</label>
				<div class="controls">
					<input type="text" data-ng-model="title" id="title" placeholder="título">
				</div>
			</div>
			<div class="control-group span3">
				<label class="control-label" for="title">Autor</label>
				<div class="controls">
					<input type="text" data-ng-model="author" id="author" placeholder="autor do livro">
				</div>
			</div>
			<div class="control-group span3">
				<label class="control-label" for="title">Faculdade</label>
				<div class="controls">
					<input type="text" data-ng-model="school" ng-value="{{ global.user.school }}" value="{{ global.user.school }}" name="school" typeahead="school.sign for school in schools | filter:$viewValue | limitTo:8" autocomplete="off">
				</div>
			</div>
			<div class="control-group span3">
				<label class="control-label" for="title">Páginas</label>
				<div class="controls">
					<input type="text" data-ng-model="pages" id="pages" placeholder="nº paginas">
				</div>
			</div>
			<div class="control-group span3">
				<label class="control-label" for="title">Ano</label>
				<div class="controls">
					<input type="text" data-ng-model="year" id="year" placeholder="ano">
				</div>
			</div>
			<div class="control-group span3">
				<label class="control-label" for="title">ISBN</label>
				<div class="controls">
					<input type="text" data-ng-model="isbn" id="isbn" placeholder="ISBN">
				</div>
			</div>
			<div class="control-group span3">
				<label class="control-label" for="title">Preço</label>
				<div class="controls">
					<input type="number" data-ng-model="price" id="price" placeholder="preço de venda">
				</div>
			</div>
			
			<div class="control-group span3">
				<label class="control-label" for="title">Categoria</label>
				<div class="controls">
					<select data-ng-model="category" id="">
						<option value="Ciências Exatas">Ciências Exatas</option>
						<option value="Direito">Direito</option>
						<option value="Informática">Informática</option>
						<option value="Filosofia">Filosofia</option>
						<option value="Dicionários">Dicionários</option>
						<option value="Arte">Arte</option>
						<option value="Saúde">Saúde</option>
						<option value="Negócios">Negócios</option>
						<option value="Ciências Humanas">Ciências Humanas</option>
						<option value="Apostila">Apostila</option>
						<option value="Engenharia">Engenharia</option>
						<option value="Outros">Outros</option>
					</select>
				</div>
			</div>

			<div class="control-group span3">
				<label for="">Status</label>
				<div class="controls">
					<label for="otimo" class="checkbox inline">Ótimo</label>
					<input type="radio" data-ng-model="status" name="status" value="otimo" id="otimo">
					<label for="bom" class="checkbox inline">Bom</label>
					<input type="radio" data-ng-model="status" name="status" value="bom" id="bom">
					<label for="ruim" class="checkbox inline">Ruim</label>
					<input type="radio" data-ng-model="status" name="status" id="ruim" value="">
				</div>
			</div>

			<div class="control-group span9">
				<label class="control-label" for="content">Descrição</label>
				<div class="controls">
					<textarea data-ng-model="description" class="span9" id="description" cols="30" rows="10" placeholder="descrição"></textarea>
				</div>
			</div>
			

			<div class="control-group span9">
	      <label for="inputImage">Imagem</label>
	      
	      <input id="inputImage" type="file" accept="image/*" image="image" resize-max-height="120"
                resize-max-width="90"
                resize-quality="0.7"  />
	      
	      <img ng-show="image" ng-src="{{image.resized.dataURL}}" type="{{image.file.type}}"/> 
	    </div>

	    <div class="control-group span9">
				<div class="controls">
					<input type="submit" class="btn btn-primary pull-right" value="Cadastrar">
				</div>
			</div>

	</form>
</section>